/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/* GLOBAL */
p {
  font-family: "Roboto", sans-serif;
}

/* HERO */

.hero {
  background: linear-gradient(to bottom right, #0990b2 50%, #fefeff 50%);
  padding: 2em;
}

.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__profile-name {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  color: #fefeff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 8px;
  left: 16px;
  width: 100%;
}

.hero__profile {
  position: relative;
  text-align: center;
  color: white;
}

.hero__about {
  max-width: 450px;
  background-color: #fefeff;
  padding: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 1em;
}

.hero__profile-img {
  height: 400px;
  width: 400px;
  min-width: 300px;
  object-fit: cover;
}

.hero__about-header {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  padding-bottom: 0.5em;
}

.hero__about-desc {
  color: #575655;
  font-size: 0.9rem;
}

#hero {
  justify-content: flex-end;
}

/* PROJECTS */
.projects {
  padding-block: 2em;
  background-color: #fefeff;
}

.projects__title {
  font-size: 2rem;
  grid-column: 1 / -1;
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
}

.projects__card {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.projects_card-upper {
  background-color: #4aa3d2;
  text-align: center;
  font-size: 1.8rem;
  color: #fefeff;
  padding: 1em;
  font-family: "Playfair Display", serif;
  font-weight: 300;
}

.projects_card-lower {
  padding: 0.5em;
  background-color: #fefeff;
}

.projects__card-lower-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects__card-lower-title p {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-weight: 600;
  color: #060b04;
}

svg {
  height: 16px;
}

.projects__grid-container {
  margin: 0 auto;
  width: 90%;
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 210px);
  gap: 20px;
  justify-content: center;
}

.projects_card-lower-icons {
  display: flex;
  gap: 0.5em;
}

.projects__card-lower-description {
  font-size: 0.75rem;
  padding-bottom: 3em;
  color: #575655;
}

/* FOOTER */

footer {
  background-color: #0990b2;
}

.footer-container {
  margin: 0 auto;
  width: 90%;
  max-width: 850px;
  display: flex;
  padding: 2em;
  gap: 10px;
}

.footer-left {
  color: #fefeff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-header {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 1.8rem;
}

.footer-blurb {
  width: 60%;
}

.phone,
.email {
  display: flex;
  gap: 10px;
  align-items: center;
}

.phone svg,
.email svg {
  fill: #fefeff;
  height: 20px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.social-icons i {
  color: #060b04;
  font-size: 2rem;
}

.contact-img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

/* MEDIA QUERIES */
@media (max-width: 488px) {
  .projects__title {
    text-align: center;
  }

  .footer-container {
    padding: 0em;
    width: 100%;
    flex-wrap: wrap;
  }

  .footer-left {
    align-items: center;
  }

  .footer-right {
    width: 100%;
  }

  .footer-blurb {
    width: 70%;
  }
}

@media (max-width: 742px) {
  .hero__container {
    display: block;
    padding-top: 3em;
  }
  .hero__profile-img {
    float: left;
    margin-right: 2em;
  }
  .hero__about {
    max-width: 100%;
  }
}
